.product-display {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .display-title {
    font-weight: 300;
    font-size: 40px;
    color: #333333;
    padding-bottom: 15px;
  }
  .review {
    color: #006bb4;
    font-size: 14px;
    padding-bottom: 25px;
  }
  .price {
    font-size: 40px;
    color: #575757;
  }
  .parent-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c1c1c1;
  }
  .price-tag {
    display: flex;
    flex-direction: column;
  }
  .quantity {
    border: 1px solid #c2c2c2;
    font-size: 14px;
    height: 22px;
    width: 32px;
  
    text-align: center;
    margin-top: 5px;
  }
  .button-add {
    color: white;
    background-color: #1979c3;
    font-weight: 600;
    font-size: 20px;
    padding: 14px 17px;
    width: 49%;
    height: 40%;
    border-radius: 3px;
  }
  .wishlist {
    display: flex;
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    align-items: center;
    justify-content: space-evenly;
  }